<% if params[:post_success] %>
  <div class="alert alert-success" role="alert">
    Votre potin a été créé avec succès !
  </div>
<% end %>
<% if params[:destroy_success] %>
  <div class="alert alert-success" role="alert">
    Votre potin a été supprimé avec succès !
  </div>
<% end %>
<h1>Bienvenue sur notre magnifique site de potins !</h1>
<p>
  <a href="<%= new_gossip_path %>" class="btn btn-success"> Créer un potin</a>
</p>

<h1>Voici la liste de tous les potins : </h1><br/>
    <%@all_gossips.each do |elem|%>
      <p>
        <h3> <%= elem.title%> </h3> par : <%= elem.user.first_name %>
      </p>
      <p>
        <a href="<%= gossip_path(elem.id) %>" class="btn btn-primary"> Lire la suite </a>
        <a href="<%= edit_gossip_path(elem.id) %>" class="btn btn-default"> Editer </a>
      </p>
    <%end%>
<h1>Static#home</h1>
<p>Find me in app/views/static/index.html.erb</p>
